
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1531729407867'); /* IE9*/
  src: url('iconfont.eot?t=1531729407867#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf?t=1531729407867') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1531729407867#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1.5rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengyin:before { content: "\e62c"; }

.icon-fanhui:before { content: "\e601"; }

.icon-caidan:before { content: "\e605"; }

.icon-haoyou:before { content: "\e783"; }

.icon-zhongxinshipin:before { content: "\e645"; }

.icon-faxian:before { content: "\e68e"; }

.icon-fujinderen:before { content: "\e646"; }

.icon-xiaoxi:before { content: "\e644"; }

.icon-youyinpin:before { content: "\e649"; }

.icon-weibiaoti2fuzhi14:before { content: "\e62b"; }

.icon-swticonyinle1:before { content: "\e613"; }

.icon-gou:before { content: "\e602"; }

.icon-xiala:before { content: "\e615"; }

.icon-play:before { content: "\e6fd"; }

.icon-huiyuan:before { content: "\e636"; }

.icon-diandiandianshu:before { content: "\e67a"; }

.icon-guanyu:before { content: "\e637"; }

.icon-wodeshoucang:before { content: "\e622"; }

.icon-shanchu:before { content: "\e678"; }

.icon-sousuo-:before { content: "\e681"; }

.icon-zhanghao:before { content: "\e66c"; }

.icon-yinle:before { content: "\e620"; }

.icon-pifu:before { content: "\e679"; }

.icon-yun:before { content: "\e77e"; }

